.breadcrumbs {
  @apply hidden pb-3 text-xs lg:block text-gray-400;
}
.breadcrumbs a.active {
  @apply text-blue-500 font-semibold;
}

.mainCard {
  @apply block w-full bg-white shadow-[0_0_8px_0_#c2c2c2] lg:px-4 lg:pb-4 lg:rounded-md lg:shadow-none mb-6;
}
.mainCardHeader {
  @apply flex items-center font-semibold text-sm gap-2 p-4 mb-4 border-b border-b-gray-200 lg:-mx-4;
}

.grids {
  @apply grid gap-4 mt-4 lg:grid-cols-2 lg:mt-2 lg:gap-2;
}
