.sidebar {
  @apply absolute top-16 bottom-0 right-0 left-0 w-full flex flex-col bg-neutral-700 text-white overflow-y-auto lg:w-[21%] lg:-left-[21%] transition-all duration-[0.3s];
}
.sidebar.open {
  @apply -left-full lg:left-0;
}

.header {
  @apply flex flex-col px-4 pt-6 pb-8 w-full;
}
/* logo div */
.header div {
  @apply flex flex-row items-center w-full gap-2 mb-1;
}
.header div img {
  @apply w-12 h-12 rounded-full;
}
.header div span {
  @apply text-4xl font-light;
}
/* company name */
.header p {
  @apply inline-flex items-center;
}
.header p span {
  @apply text-xl truncate font-light;
}
.header p button {
  @apply text-accent-lime;
}

.menu {
  @apply flex flex-col w-full gap-2;
}
.menuItem {
  @apply inline-flex items-center gap-4 py-2 px-4 text-zinc-400 w-full border-l-4 border-l-transparent transition-all duration-300;
}
.menuItem:hover,
.menuItem.active {
  @apply text-accent-lime border-l-accent-lime bg-[#313136];
}

.footer {
  @apply px-4 py-6 mt-auto text-sm text-accent-lime;
}
